body {
  font-family: "Montserrat", sans-serif;
}
#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

/* Download Buttons */
.dl-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  width: 18%;

  transform: rotate(25deg);
  position: absolute;
}

@media screen and (max-width: 992px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    width: 60%;
    transform: rotate(0);
  }
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

h3 {
  font-size: 1.4rem;
  font-weight: 900;
}
p {
  color: #bfbfbf;
}
.feature {
  text-align: center;
  padding: 5%;
}
svg {
  height: 3rem;
  fill: #ef8172;
  margin-bottom: 10px;
  cursor: pointer;
}
svg:hover {
  fill: #ff4c68;
  transition: ease-in-out 0.2s;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */
/* #pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
} */
